# Ayaka Freeze, five rotations of about 21 s:
# Kazuha E plunge Q > Shenhe Q E > Mona E Q > Ayaka E dash N2 Q N2C >
# Kazuha E plunge > Shenhe E N1 > Ayaka dash N2C E N2C
{{ayaka}} dash;
for let x = 0; x < 5; x = x + 1 {
  {{kazuha}} skill, high_plunge, burst;
  {{shenhe}} burst, skill;
  {{mona}} skill, burst;
  {{ayaka}} skill, dash, attack:2, burst, attack:2, charge;
  {{kazuha}} skill, high_plunge;
  {{shenhe}} skill, attack;
  {{ayaka}} dash, attack:2, charge, skill, attack:2, charge;
}
